.holder {
    width: 100px;
    padding: .5em;
    border: 1px solid black;
}

.info {
    display: flex;
    flex-direction: column;
}

.icon {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    gap: .25em;
}

.stats {
    display: flex;
    flex-direction: column;
    padding: .5em;
}

.bar {
    position: relative;
}

.label {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    font-size: .65em;
    bottom: 0;
}