.info {
    display: flex;
    flex-direction: column;
    padding: .5em;
}

.button {
    font-size: 4em;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: .05s;
    border: 3px solid black;
    padding: .125em;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 4px black);
    width: 110px;
    aspect-ratio: 1/1;
    text-align: center;
}

.button:disabled {
    background-color: gray;
    color: rgba(0, 0, 0, .05);
    filter: saturate(0);
}

.button:not(:disabled):hover {
    cursor: pointer;
}

.pressed {
    transform: scale(.9);
    filter: drop-shadow(1px 1px 2px black);
}

.unpressed {
    transform: scale(1);
}

.upcoming {
    outline: 1px solid pink;
}

.preview {
    outline: 4px solid pink;
}

.default {
    outline: 0px solid transparent;
}

.text {
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    z-index: -1;
    font-size: 1.75em;
    opacity: .25;
     -webkit-text-stroke: 1px black;
    pointer-events: none;
    touch-action: none;
}

.image {    
    height: 100%;
    aspect-ratio: 1/1;
    display: block;
    pointer-events: none;
    touch-action: none;
}

[disabled] .image {
    color: initial;
    opacity: .05;
}