.info {
    display: flex;
    flex-direction: column;
    padding: .5em;
}

.button {
    font-size: 4em;
    margin: .25em;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    border: 2px solid black;
    padding: .125em;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 4px black);
    width: 110px;
    aspect-ratio: 1/1;
    text-align: center;
}

.button:hover {
    cursor: pointer;
}

.pressed {
    transform: scale(.9);
    filter: drop-shadow(1px 1px 2px black);
}

.unpressed {
    transform: scale(1);
}

.preview {
    outline: 3px solid pink;
}

.default {
    outline: 1px solid black;
}