body {
  user-select: none; /* keeps the user from accidently highlighting text when performing all the clicks */
}

/* Needs some rewriting for sure. SCSS would work better with this rough BEM naming convention*/
.resource-main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.resource-dashboard {
  width: 100%; 
  text-align: center;
  padding-bottom: 1em;
  border-bottom: 1px solid black;
}

.resource-dashboard__holder {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1em;
}

.currency-section {
  width: 100%; 
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 1em;
  flex-grow: 1;
}

.upgrade-section {
  width: 100%; 
  text-align: center;
}

.upgrade-section__holder {
  display: flex;
  gap: 1em;
  justify-content: center;
  padding-bottom: 2em;
}