body {
  user-select: none; /* keeps the user from accidently highlighting text when performing all the clicks */
  margin: 0;
  height: 100vh;
}

#root {
  height: 100vh;
}

.resource-app {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 100%;
}

.resource-title {
  display: none;
}

.resource-subtitle {
  display: none;
}

@media screen and (min-height: 768px) {
  .resource-subtitle {
    display: initial;
    margin-bottom: 0;
  }
}

/* Needs some rewriting for sure. SCSS would work better with this rough BEM naming convention*/
.resource-main {
  display: flex;
  flex-direction: column;
}

.resource-dashboard {
  width: 100%;
  text-align: center;
  padding: 1em 0em;
  display: flex;
  flex-direction: column-reverse;
  border-bottom: 1px solid black;
}

.resource-dashboard__holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin: auto;
}

.currency-section {
  display: flex;
  flex-direction: column;
  width: 100%; 
  text-align: center;
  flex-grow: 1;
}

.currency-section__holder {
  display: flex;
  flex-wrap: wrap-reverse;
  width: 450px;
  margin: auto;
  justify-content: center;
  gap: 1em;
  
}

.upgrade-section {
  border-left: 1px solid black;
  text-align: center;
}

.upgrade-section__holder {
  display: flex;
  gap: 1em;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 1em;
}